###> librinfo CI ###
#DBVERSION=9.6
# https://github.com/doctrine/dbal/issues/3129
DBDRIVER=pgsql
DBHOST=localhost
DBPORT=5432

DBROOTUSER=postgres
DBROOTPASSWORD=postgres24

DBNAME=db_pialab
DBUSER=user_pialab
DBPASSWORD=pass_pialab

TEST_SERVER_URL="http://localhost:8000"
TEST_USER="ci@pialab.io"
TEST_PASSWORD="ci"
TEST_API_USER="api@pialab.io"
TEST_API_PASSWORD="api42"

CODECEPTCMD="bin/codecept run -vvv --debug --steps --no-interaction --xml --html"

CLIENTURL=http://localhost:4200
CLIENT_ID=1234
CLIENT_SECRET=987654321
###< librinfo CI ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=73a6b907a6b5d96e6bbe3804e186708f
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=${DBDRIVER}://${DBUSER}:${DBPASSWORD}@${DBHOST}:${DBPORT}/${DBNAME}
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN=^https?://localhost:?[0-9]*$
CORS_ALLOW_ORIGIN_DEV=^https?://localhost:?[0-9]*$
###< nelmio/cors-bundle ###

###> symfony/swiftmailer-bundle ###
# For Gmail as a transport, use: "gmail://username:password@localhost"
# For a generic SMTP server, use: "smtp://localhost:25?encryption=&auth_mode="
# Delivery is disabled by default via "null://localhost"
MAILER_URL=smtp://127.0.0.1:1025
###< symfony/swiftmailer-bundle ###
