{% set user = form.vars.value %}

<div class="ui message">
    <div class="header">
        Envoi de l'email de réinitialisation de mot de passe
    </div>
    <p>
        Un email de réinitialisation de mot de passe va être envoyé à l'adresse
        <b>{{ user.email }}</b>.
    </p>
    <p>
        Cet email contiendra les instructions de réinitialisation du mot de passe pour le compte associé à cet email.
    </p>
</div>

{% if user.passwordRequestedAt is not null %}
    <div class="ui info message">
        <div class="header">
            Dernier envoi de l'email effectué le : {{ user.passwordRequestedAt|date('d/m/Y H:i') }}
        </div>
    </div>
{% endif %}

{{ form(form) }}