<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        {# TITLE #}
    </div>
    <div class="content">
        {# CONTENT #}
    </div>
    <div class="actions">
        {# ACTIONS #}
    </div>
</div>