<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}PIA User Management{% endblock %}
        </title>
        <link rel="stylesheet" href="/css/semantic-librinfo.min.css"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="ui inverted menu">
            <div class="right menu">
                <a class="active item" href="{{ path('logout') }}">
                    Logout
                </a>
            </div>
        </div>
        <div class="ui container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="/js/jquery.min.js"></script>
            <script src="/js/semantic.min.js"></script>
            <script src="/js/semantic-custom.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('.ui.checkbox').checkbox();
                })
            </script>
        {% endblock %}
    </body>
</html>