{% trans_default_domain 'FOSUserBundle' %}

{% block subject %}{{ 'resetting.email.subject'|trans }}
{% endblock %}

{% block body_text %}
    {% autoescape false %}
        {{ 'resetting.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}) }}
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    <div style="margin:0 auto; max-width: 600px;">
        <h2 style="text-align: center">
            <img src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/img/pia-logo-small.png') }}" alt="PiaLab logo">
        </h2>
        <div style="
            text-align:  center;
            font-family: Arial, Helvetica, sans-serif;
            line-height: 1.8em;
            font-size:   1.2em;">

            {{ 'resetting.email.message_html'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl})|raw }}

        </div>
    </div>
{% endblock %}